
<div class="category-details">
  <h4>Category name: <%= category.name %> (ID: <%= category.id %>)</h4>
  <p>Created at: <%= category.created_at.to_s.slice(0, 11) %></p>
  <p>Last updated at: <%= category.updated_at.to_s.slice(0, 11) %></p>
</div>