<h1>About Us</h1>
<section>
  <p>
    Long ago, the four nations lived together in harmony.
    Then, everything changed when the Fire Nation attacked.
  </p>
  <p>
   Only the Avatar, master of all four elements, could stop them, but when the world needed him most, he vanished.
   A hundred years passed and my brother and I discovered the new Avatar, an airbender named Aang, and although his airbending skills are great, he has a lot to learn before he's ready to save anyone.
   But I believe Aang can save the world.
  </p>
</section>

